{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block base_head_meta %}
    <meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta http-equiv="X-UA-Compatible" content="IE=edge|EmulateIE7,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    {% endblock %}

    {% block link %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pages/images/icon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/libs/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'pages/libs/bootstrap4/css/bootstrap.min.css' %}"> -->
        {% block extraLink %}{% endblock %}
    {% endblock %}

    {% block script %}
    <script type="text/javascript" src="{% static 'pages/libs/jquery/jquery-3.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/base.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'pages/libs/bootstrap4/js/bootstrap.min.js' %}"></script> -->
    {% endblock %}
</head>
<body>

    {% include "pages/header.html" %}
    <div class="main">
    {% block main %}
    {% endblock %}
    </div>

    {% include "pages/footer.html" %}

</body>
</html>
